<div class="form-check text-center my-3">
  <label class="toggle">
    <input type="checkbox" (change)="useLanguage($event)">
    <span class="slider"></span>
    <span class="labels" data-on="EN" data-off="AR"></span>
  </label>
</div>

<div class="row d-flex justify-content-between ">
  <div class="col-md-6 col-lg-7 col-xl-8 col-xxl-9 mb-3">
    <div class="d-flex justify-content-between">
      <div class="d-flex ">
        <a class="btn arrow-style d-flex align-items-center px-3" role="button">
          <i class="fa-solid" [class.fa-arrow-right-long]="isArabic" [class.fa-arrow-left-long]="!isArabic"></i>
        </a>
        <h4 class="mx-4">{{'head.add.resource' | translate}}</h4>
      </div>
      <div class="d-flex align-items-center">
        <label class="mx-2" *ngIf="!isArabic">{{'head.switch' | translate}}</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="switchChecked" checked>
          <label class="form-check-label" for="switchChecked"></label>
        </div>
        <label class="mx-2" *ngIf="isArabic">{{'head.switch' | translate}}</label>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-3" [class.text-start]="isArabic" [class.text-end]="!isArabic">
    <button class="btn btn-dark px-3 py-2 mr-4">{{'head.save.button' | translate}}</button>
    <a class="btn btn-del-style px-3 py-2 mx-2" role="button">
      {{'head.delete.button' | translate}}<i class="fa-solid fa-trash-can mx-2"></i>
    </a>
  </div>
</div>
